body {
  background: linear-gradient(to top, #dfe9f3 0%, white 100%);
}

.App {
  max-width: 600px;
  max-height: 700px;
  margin: 100px auto;
  padding: 30px 20px;
  border: 2px solid #f4f4f4;
  background: radial-gradient(
    592px at 48.2% 50%,
    rgba(255, 255, 249, 0.6) 0%,
    rgb(160, 199, 254) 74.6%
  );
  border-radius: 10px;
}

.App footer {
  font-size: 12px;
  margin: 30px 0;
  text-align: center;
}
