.Weather {
  font-family: arial, sans-serif;
  color: #878787;
  padding: 16px;
  border-radius: 5px;
}

.form-control {
  background-color: #f9f9f9;
  height: 40px;
}

.btn {
  background-color: #ed5082;
  border: none;
  height: 40px;
  max-width: 100px;
}

.Weather h2 {
  display: block;
  font-size: 30px;

  font-weight: bold;
  line-height: 29px;
  margin: 20px 0 10px 0;
  color: black;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}

.Weather canvas {
  margin-right: 5px;
  margin-top: 5px;
  display: inline-block;
}

.Weather .temperature {
  font-weight: bold;
  font-size: 64px;
  font-weight: 400;
  color: black;
  line-height: 64px;
}

.Weather .unit {
  color: rgb(33, 33, 33);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  position: relative;
  top: -34px;
  margin-left: 0;
  line-height: 1;
}

.humidityWind {
  position: relative;
  left: 80px;
}
.humidity,
.wind {
  color: #ed5082;
}

.WeatherForecast-temperature-max,
.WeatherForecast-temperature-min {
  color: #ed5082;
}

.WeatherTemperature .unit a {
  color: #ed5082;
}

.WeatherTemperature .unit {
  margin-left: 3px;
}

.dayTime {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 5px;
}

footer a {
  color: #ed5082;
  text-decoration: none;
}
